#texto{
 background-image: linear-gradient(top to bottom, rgba(2, 151, 250, 0.932)) ,url(https://st.depositphotos.com/1062624/4071/i/450/depositphotos_40716309-stock-photo-best-internet-concept-of-global.jpg);
padding: 10px;
background-size: 90%;
padding-left: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
font-style: oblique;
font-variant: small-caps;
text-align: center;
color: rgb(25, 0, 255);
margin: 100px;
border: 10px;
}

nav{
    height: 100vh;
    color: rgb(0, 0, 0);
background-color: rgb(3, 27, 63);
display: flex;
flex-direction: column;
justify-content: space-between;

}
.tarjeta{
height: 20vh;
background-color: rgb(12, 221, 211);

border: 2px solid black;
padding: 15px;
text-align: center;
display: flexbox;
}    
img{
height: 60%;

}

   