header{
background-color: rgb(255, 185, 98);
padding: 10px;
padding-left: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
font-style: oblique;
font-variant: small-caps;
text-align: center;
color: rgb(4, 50, 53);
margin: 100px;
border: ;
}

nav{
    height: 100vh;
    color: rgb(0, 0, 0);
background-color: rgb(40, 223, 64);

}
div{
height: 10vh;
background-color: rgb(5, 255, 255);
}    
