header{
background-color: rgb(255, 185, 98);
padding: 10px;
padding-left: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
font-style: oblique;
font-variant: small-caps;
text-align: center;
color: blueviolet;
margin: 100px;

border: ;
}


    
